<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG_Pakage.PriorityClass"/>
      <class name="testNG_Pakage.DependencyClass"/>
      <class name="testNG_Pakage.DataProviderClass"/>
      <class name="testNG_Pakage.SkipTestClass"/>
      <class name="testNG_Pakage.BeforeAfterClass"/>
      <class name="testNG_Pakage.OpenWebsite"/>
      <class name="testNG_Pakage.LandingPage"/>
      <class name="testNG_Pakage.NewTest"/>
      <class name="testNG_Pakage.TimeOutClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
